@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url(header.css);
@import url(portada.css);
@import url(about.css);
@import url(contact.css);
@import url(proyects.css);
@import url(lumber.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: unset;
    list-style: none;
}

html {
    user-select: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

:root {
    --background1: rgb(26, 26, 26);
    --fontColorLight: snow;
    --fontColorDark: black ;
    --detailsFonts: orange ; 
    --BGCButtons: #D62828;
    --fontTitles: "Oswald";
    --fontBody: "Outfit";
}

body {
    background-color: var(--background1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: var(--fontColor);
    font-family: var(--fontBody);

}

.show {
    display: flex;
}

.notShow {
    display: none;
}