@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url(header.css);
@import url(portada.css);
@import url(about.css);
@import url(contact.css);
@import url(proyects.css);
@import url(lumber.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: unset;
    list-style: none;
}

html {
    user-select: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

:root {
    --background1: rgb(26, 26, 26);
    --fontColorLight: snow;
    --fontColorDark: black ;
    --detailsFonts: orange ; 
    --BGCButtons: #D62828;
    --fontTitles: "Oswald";
    --fontBody: "Outfit";
}

body {
    background-color: var(--background1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: serif;
    color: var(--fontColor);
    font-family: var(--fontBody);

}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: snow;
    padding: .25rem 0;
    background-color: var(--detailsFonts);
    text-shadow: black 1px 1px;
    margin-top: 2rem;
    font-weight: normal;
    & > h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: .5rem;
        text-align: center;
        & > a {
            font-weight: bold;
            position: relative;
            transition: all 150ms ease-in-out;
            z-index: 1;
            overflow: hidden;
            border-radius: 10px;
            padding:0 .75rem;
            text-align: center;
            &::before {
                content: "";
                position: absolute;
                bottom: -1px;
                width: 100%;
                left: 0;
                height: 3px;
                background-color: #fff;
                box-shadow: black 0px 0px 3px;
                border-radius: 10px;
            }
            &:hover::before {
                transition: all 150ms ease-in-out;
                background-color: black;
            }
            &::after {
                position: absolute;
                content: "";
                background-color: #fff;
                width: 0;
                height: 0;
                left: -50px;
                top: 0;
                z-index: -1;
                transform: skew(-40deg);
                padding: 0;
                overflow: hidden;
                border-radius: 10px;
            }
            &:hover::after {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                padding: 2rem;
                transition: all 150ms ease-in-out;
            }
            &:hover {
                color: black;
                text-shadow: none;
                transition: all 150ms ease-in-out;
            }
        }
    }
}

.show {
    display: flex;
}

.notShow {
    display: none;
}